<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classname</key>
		<string>SaleFeeGoods</string>
		<key>salename</key>
		<string>买二送一</string>
		<key>paramters</key>
		<dict>
			<key>BuyNum</key>
			<integer>2</integer>
			<key>FeeNum</key>
			<string>1</string>
		</dict>
		<key>products</key>
		<array>
			<string>ITEM000005</string>
			<string>ITEM000001</string>
		</array>
	</dict>
	<dict>
		<key>classname</key>
		<string>SaleRebate</string>
		<key>salename</key>
		<string>九折优惠</string>
        <key>paramters</key>
        <dict>
            <key>rebate</key>
            <integer>9</integer>
        </dict>
		<key>products</key>
		<array>
			<string>ITEM000005</string>
			<string>ITEM000001</string>
		</array>
	</dict>
</array>
</plist>
