<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Strategies_Both.plist
   TWTicketPrinter

   Created by Evan on 16/3/6.
   Copyright (c) 2016年 ChangHong. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>ClassName</key>
            <string>SalesFeeGoods</string>
            <key>SaleName</key>
            <string>买二送一</string>
            <key>Paramters</key>
            <dict>
                <key>BuyNum</key>
                <integer>2</integer>
                <key>FeeNum</key>
                <string>1</string>
            </dict>
            <key>Products</key>
            <array>
                <string>ITEM000005</string>
                <string>ITEM000003</string>
            </array>
        </dict>
        <dict>
            <key>ClassName</key>
            <string>SalesRebate</string>
            <key>SaleName</key>
            <string>九折优惠</string>
            <key>Paramters</key>
            <dict>
                <key>Rebate</key>
                <integer>9</integer>
            </dict>
            <key>Products</key>
            <array>
                <string>ITEM000001</string>
            </array>
        </dict>
    </array>

</plist>
